<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title></title>
    </head>
<body>
    <p>Add event below.<br>
    </p>
    <form action="{{page}}" method="post"> <label for="name">name:</label><br>
        <input id="name" name="name" value="" type="text"><br>
        <label for="ID">ID:</label><br>
        <input id="ID" name="ID" value="ID" type="int"><br>
        <br>
        <input value="Submit" type="submit"> </form>
</body>
</html>
