<!DOCTYPE html>
<html>

<head>
  <title>My perfect Wedding</title>
  <style>
      body{
          background-image: url("{{ url_for('static', filename='beauty.jpg') }}");
      }
    </style>


  <div class="imgcontainer">
    <img src="{{url_for('static', filename = 'wedding.jpeg')}}" alt="Avatar" class="avatar" align = "right">
  </div>
   <div class="imgcontainer">
    <img src="{{url_for('static', filename = 'married.png')}}" alt="Avatar" class="avatar" align = "left">
  </div>
   
  
  <h1 style="text-align:center;">Welcome to your online gift list!</h1>
</head>

<body>
<h1 style="text-align:center;">Surprise someone special in your life with an amazing gift!</H1>



</body>
</html>