<!DOCTYPE html>
<html>

<head>
  <title>My perfect Wedding</title>
  <style>
      body{
          background-image: url("{{ url_for('static', filename='beauty.jpg') }}");
      }
    </style>

<h1 style="text-align:right">Becca and Lewis</h1>
  <div class="imgcontainer">
    <img src="{{url_for('static', filename = 'niice.jpg')}}" alt="Avatar" class="avatar" align = "right">
    <h1 style="text-align:right"> 12th of February 2023</h1>
  </div>
  <h1 style="text-align:left">Martha and James</h1>
   <div class="imgcontainer">
    <img src="{{url_for('static', filename = 'yay.jpg')}}" alt="Avatar" class="avatar" align = "left">
    <h1 style="text-align=left">6th of June 2022</h1>
  </div>

   
  
  <h1 style="text-align:center;">Welcome to your online gift list!</h1>
</head>

<body>
<h1 style="text-align:center;">Surprise someone special in your life with an amazing gift!</H1>



</body>
</html>
